Repository ccBitTorrent/ccbt: changes, and which Codecov flags are due for each by the changed paths.
All: core, peer, piece, tracker, network, metadata, disk, file, session, resilience, connection, checkpoint, cli, unittests, integration, security, ml, monitoring, observability, protocols, extensions

adds compatibility tests and checks
  .github/workflows/compatibility.yml
  .github/workflows/test.yml
  ccbt/models.py
  ccbt/storage/xet_folder_manager.py
  dev/Dockerfile.test
  dev/docker-compose.test.yml
  pyproject.toml
  tests/daemon/conftest.py
  tests/daemon/test_ipc_auth.py
  tests/daemon/test_websocket.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_batch_state_split_contract.py
Due: core, unittests

Adds compatibility checks (#26)
  .github/workflows/compatibility.yml
  .github/workflows/test.yml
  ccbt/models.py
  ccbt/storage/xet_folder_manager.py
  dev/Dockerfile.test
  dev/docker-compose.test.yml
  pyproject.toml
  tests/daemon/conftest.py
  tests/daemon/test_ipc_auth.py
  tests/daemon/test_websocket.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_batch_state_split_contract.py
Due: core, unittests

Fix CI blockers: SwarmTimeoutSignals import, XET shutdown lint, benchmark scripts.
  .gitignore
  ccbt/models.py
  ccbt/storage/xet_deduplication.py
  ccbt/storage/xet_folder_manager.py
  dev/scripts/CI_CD_REORGANIZATION_PLAN.md
  dev/scripts/clear_cache.py
  dev/scripts/compare_benchmark_json.py
  dev/scripts/generate_terminal_output_inventory.py
  dev/scripts/mkdocs_i18n_fix.py
  dev/scripts/render_benchmark_docs.py
  dev/scripts/run_benchmark_if_enabled.py
  dev/scripts/run_benchmark_if_enabled.sh
  dev/scripts/run_benchmark_suite.py
  dev/scripts/socket_test.py
  dev/scripts/upload_to_readthedocs.py
  dev/scripts/validate_benchmark_scripts.py
  dev/scripts/validate_changelog.py
  dev/scripts/validate_version.py
  tests/integration/test_encryption_integration.py
  tests/integration/test_magnet_bep53.py
  tests/integration/test_ssl_extension.py
Due: core, unittests

Fix SwarmTimeoutSignals dataclass and XET shutdown lint on addscompat1.
  ccbt/models.py
  ccbt/storage/xet_folder_manager.py
  tests/integration/test_mse_tcp_server_pe_first.py
Due: core, unittests

Split CI test matrix into shards with 90-minute job timeouts.
  .github/workflows/test.yml
  dev/scripts/ci_get_test_shard_paths.py
  tests/conftest.py
  tests/daemon/conftest.py
  tests/integration/test_resume_integration.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/session/test_immediate_tracker_defer.py
  tests/unit/session/test_session_discovery_policy.py
  tests/unit/tracker/test_tracker.py
  tests/unit/tracker/test_tracker_udp_client.py
  tests/unit/transport/test_utp.py
Due: none

Fix CI failure patterns across shards and Windows patch targets.
  .github/workflows/test.yml
  ccbt/config/__init__.py
  ccbt/peer/__init__.py
  ccbt/peer/connection_pool.py
  dev/scripts/ci_get_test_shard_paths.py
  tests/daemon/test_ipc_auth.py
  tests/integration/test_resume_integration.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_connection_pool_creation.py
  tests/unit/resilience/test_resilience_comprehensive.py
  tests/unit/transport/test_utp.py
  tests/unit/transport/test_utp_additional_coverage.py
  tests/unit/transport/test_utp_comprehensive.py
  tests/unit/transport/test_utp_final_coverage.py
Due: unittests

solves additional compatibility tests and checks
  ccbt/config/__init__.py
  ccbt/peer/__init__.py
  dev/scripts/ci_get_test_shard_paths.py
  tests/conftest.py
  tests/unit/network/test_connection_pool_100_coverage.py
  tests/unit/session/test_xet_folder_sessions.py
Due: unittests

Fix package import shadowing that broke unittest.patch across CI.
  ccbt/__init__.py
  ccbt/config/__init__.py
  ccbt/peer/__init__.py
  tests/conftest.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/transport/test_utp_comprehensive.py
  tests/unit/transport/test_utp_final_coverage.py
Due: unittests

Fix unittest.patch targets for CLI and config mocks in CI tests.
  ccbt/cli/__init__.py
  tests/conftest.py
  tests/fixtures/config_mocks.py
  tests/integration/test_prometheus_endpoint.py
  tests/integration/test_session_metrics.py
  tests/integration/test_session_metrics_edge_cases.py
  tests/unit/cli/test_config_utils.py
  tests/unit/monitoring/test_metrics_collector_http.py
  tests/unit/monitoring/test_metrics_collector_http_comprehensive.py
  tests/unit/monitoring/test_metrics_collector_http_coverage.py
  tests/unit/monitoring/test_metrics_collector_http_errors.py
  tests/unit/monitoring/test_metrics_collector_http_final_coverage.py
  tests/unit/monitoring/test_metrics_helpers.py
  tests/unit/monitoring/test_metrics_helpers_edge_cases.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/session/test_async_main_metrics.py
  tests/unit/session/test_async_main_metrics_coverage.py
Due: cli, unittests

Fix remaining CI timeouts and CLI config test assertions.
  tests/unit/cli/test_main.py
  tests/unit/cli/test_main_error_paths.py
  tests/unit/peer/test_async_peer_connection_swarm_recovery.py
  tests/unit/session/test_session_error_paths_coverage.py
  tests/unit/session/test_xet_folder_sessions.py
Due: none

Fix py3.9 loop, Windows timing, and flaky CI test failures.
  tests/integration/test_disk_io_phase2_integration.py
  tests/unit/peer/test_peer_expanded.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/session/test_xet_folder_sessions.py
  tests/unit/transport/test_utp_100_coverage.py
  tests/unit/transport/test_utp_additional_coverage.py
  tests/unit/transport/test_utp_final_coverage.py
Due: none

adds swarm health improvements
  ccbt.toml
  ccbt/config/config.py
  ccbt/models.py
  ccbt/peer/async_peer_connection.py
  ccbt/peer/connection_pool.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/dht_setup.py
  ccbt/session/peer_discovery_telemetry.py
  tests/unit/network/test_connection_pool.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_async_peer_connection_coverage_gaps.py
  tests/unit/peer/test_async_peer_pipelining_phase1.py
  tests/unit/peer/test_batch_state_split_contract.py
  tests/unit/peer/test_connect_funnel_cold_start.py
  tests/unit/peer/test_connect_to_peers_contract.py
  tests/unit/peer/test_connection_pool_creation.py
  tests/unit/peer/test_peer_source_validation.py
  tests/unit/peer/test_pending_resume_reentry_contract.py
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_requestable_driven_tick.py
Due: core, unittests

improves swarm health
  ccbt.toml
  ccbt/config/config.py
  ccbt/models.py
  ccbt/peer/async_peer_connection.py
  ccbt/peer/connection_pool.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/dht_setup.py
  ccbt/session/discovery.py
  ccbt/session/peer_discovery_telemetry.py
  ccbt/session/peers.py
  ccbt/session/session.py
  ccbt/storage/file_assembler.py
  tests/unit/network/test_connection_pool.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_async_peer_connection_coverage_gaps.py
  tests/unit/peer/test_connect_funnel_cold_start.py
  tests/unit/peer/test_connection_pool_creation.py
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_candidate_store.py
  tests/unit/session/test_dht_recovery_deadlock.py
  tests/unit/session/test_peer_discovery_telemetry.py
  tests/unit/storage/test_file_assembler_receive_storage.py
Due: core, unittests

Prepare 0.1.0 release: green CI tests and version gate.
  .github/workflows/benchmark.yml
  CHANGELOG.md
  ccbt/__init__.py
  ccbt/peer/async_peer_connection.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/peers.py
  ccbt/session/torrent_utils.py
  ccbt/utils/port_checker.py
  dev/CHANGELOG.md
  env.example
  pyproject.toml
  tests/conftest.py
  tests/daemon/test_ipc_authentication.py
  tests/integration/test_magnet_bep53.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/integration/test_scrape_integration.py
  tests/unit/config/data/config_parity_expectations.json
  tests/unit/config/test_proxy_config_encryption.py
  tests/unit/network/test_connection_pool_100_coverage.py
  tests/unit/network/test_connection_pool_boost.py
  tests/unit/network/test_connection_pool_edge_cases.py
  tests/unit/peer/test_connect_funnel_cold_start.py
  tests/unit/piece/test_async_piece_manager_comprehensive.py
  tests/unit/session/test_manager_background_tasks.py
  tests/unit/session/test_scrape_features.py
  tests/unit/session/test_session_error_paths_coverage.py
  tests/unit/session/test_session_lifecycle.py
  tests/unit/session/test_torrent_utils.py
  tests/unit/tracker/test_tracker_udp_client_comprehensive.py
  uv.lock
Due: unittests

Prepare 0.1.0 release: green CI tests and version gate. (#28)
  .github/workflows/benchmark.yml
  CHANGELOG.md
  ccbt/__init__.py
  ccbt/peer/async_peer_connection.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/peers.py
  ccbt/session/torrent_utils.py
  ccbt/utils/port_checker.py
  dev/CHANGELOG.md
  env.example
  pyproject.toml
  tests/conftest.py
  tests/daemon/test_ipc_authentication.py
  tests/integration/test_magnet_bep53.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/integration/test_scrape_integration.py
  tests/unit/config/data/config_parity_expectations.json
  tests/unit/config/test_proxy_config_encryption.py
  tests/unit/network/test_connection_pool_100_coverage.py
  tests/unit/network/test_connection_pool_boost.py
  tests/unit/network/test_connection_pool_edge_cases.py
  tests/unit/peer/test_connect_funnel_cold_start.py
  tests/unit/piece/test_async_piece_manager_comprehensive.py
  tests/unit/session/test_manager_background_tasks.py
  tests/unit/session/test_scrape_features.py
  tests/unit/session/test_session_error_paths_coverage.py
  tests/unit/session/test_session_lifecycle.py
  tests/unit/session/test_torrent_utils.py
  tests/unit/tracker/test_tracker_udp_client_comprehensive.py
  uv.lock
Due: unittests

Fix remaining PR #3 CI failures after merge to dev.
  .github/workflows/benchmark.yml
  tests/unit/discovery/test_dht_bootstrap_readiness.py
  tests/unit/discovery/test_tracker_ssl.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/session/test_peer_initializer.py
  tests/unit/session/test_session_manager_metrics_and_admin.py
  tests/unit/session/test_session_remaining_coverage.py
Due: none

Fix remaining PR #3 CI failures after merge to dev. (#29)
  .github/workflows/benchmark.yml
  tests/unit/discovery/test_dht_bootstrap_readiness.py
  tests/unit/discovery/test_tracker_ssl.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/session/test_peer_initializer.py
  tests/unit/session/test_session_manager_metrics_and_admin.py
  tests/unit/session/test_session_remaining_coverage.py
Due: none

Fix remaining PR #3 CI flakes and base benchmark JSON.
  .github/workflows/benchmark.yml
  dev/scripts/run_benchmark_suite.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/unit/resilience/test_resilience_timeout.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/storage/conftest.py
  tests/unit/storage/test_xet_data_aggregator.py
  tests/unit/storage/test_xet_deduplication.py
  tests/unit/storage/test_xet_defrag_prevention.py
  tests/unit/storage/test_xet_file_deduplication.py
Due: none

Fix remaining PR #3 CI flakes and base benchmark JSON (#30)
  .github/workflows/benchmark.yml
  dev/scripts/run_benchmark_suite.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/unit/resilience/test_resilience_timeout.py
  tests/unit/security/test_mse_handshake.py
  tests/unit/storage/conftest.py
  tests/unit/storage/test_xet_data_aggregator.py
  tests/unit/storage/test_xet_deduplication.py
  tests/unit/storage/test_xet_defrag_prevention.py
  tests/unit/storage/test_xet_file_deduplication.py
Due: none

Fix remaining PR #3 CI failures after #30 merge.
  .github/workflows/benchmark.yml
  ccbt/discovery/tracker_udp_client.py
  ccbt/storage/xet_deduplication.py
  dev/scripts/run_benchmark_suite.py
  tests/unit/cli/test_interactive_download_file_selection.py
  tests/unit/discovery/test_tracker_scrape_udp.py
Due: unittests

Fix remaining PR #3 CI failures after #30 (#31)
  .github/workflows/benchmark.yml
  ccbt/discovery/tracker_udp_client.py
  ccbt/storage/xet_deduplication.py
  dev/scripts/run_benchmark_suite.py
  tests/unit/cli/test_interactive_download_file_selection.py
  tests/unit/discovery/test_tracker_scrape_udp.py
Due: unittests

Fix flaky download-rate assertion under CI load.
  tests/unit/piece/test_sequential.py
Due: none

Fix flaky download-rate assertion under CI load. (#32)
  tests/unit/piece/test_sequential.py
Due: none

Fix MSE false-positive legacy type detection on modern frames.
  ccbt/security/mse_handshake.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/unit/security/test_mse_handshake.py
Due: unittests, security

Fix MSE false-positive legacy type detection on modern frames. (#33)
  ccbt/security/mse_handshake.py
  tests/integration/test_mse_tcp_server_pe_first.py
  tests/unit/security/test_mse_handshake.py
Due: unittests, security

Wait for Test and CI before docs/publish validation gates.
  .github/workflows/build-documentation.yml
  .github/workflows/publish-pypi-dev.yml
Due: none

Track .github/scripts wait helper for validation gates.
  .github/scripts/wait-for-validation-workflows.js
  .gitignore
Due: none

Document validation wait behavior for docs and publish-dev.
  .github/workflows/README.md
Due: none

Wait for Test/CI before docs and publish-dev gates (#34)
  .github/scripts/wait-for-validation-workflows.js
  .github/workflows/README.md
  .github/workflows/build-documentation.yml
  .github/workflows/publish-pypi-dev.yml
  .gitignore
Due: none

Align MSE wrong-type coverage tests with legacy-only detection.
  tests/unit/security/test_mse_handshake_coverage.py
Due: none

Fix MSE wrong-type coverage tests after legacy detection change (#35)
  tests/unit/security/test_mse_handshake_coverage.py
Due: none

added dynamic pathing to the linter tests.
  tests/unit/cli/test_simplification_regression.py
Due: none

added dynamic pathing to ci tools to stop errors.
  tests/unit/performance/test_benchmark_ci_tools.py
Due: none

adjusting string to the correct ccbt version
  tests/unit/test_package_init.py
Due: none

Normalizes Test Execution Working Directories (#36)
  tests/unit/cli/test_simplification_regression.py
  tests/unit/performance/test_benchmark_ci_tools.py
  tests/unit/test_package_init.py
Due: none

Path conditions:
  core: any of: ccbt/bencode.py, ccbt/torrent.py, ccbt/magnet.py, ccbt/models.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  peer: any of: ccbt/peer.py, ccbt/peer_connection.py, ccbt/async_peer_connection.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  piece: any of: ccbt/piece_manager.py, ccbt/async_piece_manager.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  tracker: any of: ccbt/tracker.py, ccbt/tracker_udp_client.py, ccbt/tracker_server_udp.py, ccbt/tracker_server_http.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  network: any of: ccbt/network_optimizer.py, ccbt/connection_pool.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  metadata: any of: ccbt/metadata_exchange.py, ccbt/async_metadata_exchange.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  disk: any of: ccbt/disk_io.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  file: any of: ccbt/file_assembler.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  session: any of: ccbt/session.py, ccbt/__main__.py, ccbt/async_main.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  resilience: any of: ccbt/resilience.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  connection: any of: ccbt/connection_pool.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  checkpoint: any of: ccbt/checkpoint.py, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  cli: any of: ccbt/cli/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  unittests: any of: ccbt/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  integration: any of: tests/integration/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  security: any of: ccbt/security/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  ml: any of: ccbt/ml/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  monitoring: any of: ccbt/monitoring/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  observability: any of: ccbt/observability/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  protocols: any of: ccbt/protocols/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
  extensions: any of: ccbt/extensions/, but not: tests/, benchmarks/, docs/, site/, *.pyc, __pycache__/, .pytest_cache/, .ruff_cache/, .mypy_cache/, .github/, .cursor/, .pre-commit-cache/, .hypothesis/, .pre-commit-home/, .benchmarks, .ccbt, .venv/
