Repository ccBitTorrent/ccbt: changes, and which Codecov flags are due for each by the changed paths.
All: core, peer, piece, tracker, network, metadata, disk, file, session, resilience, connection, checkpoint, cli, unittests, integration, security, ml, monitoring, observability, protocols, extensions

.codecov.yml:

# Codecov configuration for CCBT BitTorrent Client
# Updated to match pytest.ini markers and 99% coverage target
coverage:
  status:
    project:
      default:
        target: 99%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 2%
    changes:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

# Additional configuration keys
codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

# Branch configuration
branches:
  - master
  - main
  - develop

# PR configuration - aligned with 99% project-wide target
pr:
  target: 90%
  threshold: 2%

ignore:
  - "tests/"
  - "benchmarks/"
  - "docs/"
  - "site/"
  - "*.pyc"
  - "__pycache__/"
  - ".pytest_cache/"
  - ".ruff_cache/"
  - ".mypy_cache/"
  - ".github/"
  - ".cursor/"
  - ".pre-commit-cache/"
  - ".hypothesis/"
  - ".pre-commit-home/"
  - ".benchmarks"
  - ".ccbt"
  - ".venv/"

flags:
  # Core functionality tests (matches pytest.mark.core)
  core:
    paths:
      - ccbt/bencode.py
      - ccbt/torrent.py
      - ccbt/magnet.py
      - ccbt/models.py
    carryforward: true
  # Peer protocol tests (matches pytest.mark.peer)
  peer:
    paths:
      - ccbt/peer.py
      - ccbt/peer_connection.py
      - ccbt/async_peer_connection.py
    carryforward: true
  # Piece management tests (matches pytest.mark.piece)
  piece:
    paths:
      - ccbt/piece_manager.py
      - ccbt/async_piece_manager.py
    carryforward: true
  # Tracker tests (matches pytest.mark.tracker)
  tracker:
    paths:
      - ccbt/tracker.py
      - ccbt/tracker_udp_client.py
      - ccbt/tracker_server_udp.py
      - ccbt/tracker_server_http.py
    carryforward: true
  # Network optimization tests (matches pytest.mark.network)
  network:
    paths:
      - ccbt/network_optimizer.py
      - ccbt/connection_pool.py
    carryforward: true
  # Metadata exchange tests (matches pytest.mark.metadata)
  metadata:
    paths:
      - ccbt/metadata_exchange.py
      - ccbt/async_metadata_exchange.py
    carryforward: true
  # Disk I/O tests (matches pytest.mark.disk)
  disk:
    paths:
      - ccbt/disk_io.py
    carryforward: true
  # File assembly tests (matches pytest.mark.file)
  file:
    paths:
      - ccbt/file_assembler.py
    carryforward: true
  # Session management tests (matches pytest.mark.session)
  session:
    paths:
      - ccbt/session.py
      - ccbt/__main__.py
      - ccbt/async_main.py
    carryforward: true
  # Resilience pattern tests (matches pytest.mark.resilience)
  resilience:
    paths:
      - ccbt/resilience.py
    carryforward: true
  # Connection pool tests (matches pytest.mark.connection)
  connection:
    paths:
      - ccbt/connection_pool.py
    carryforward: true
  # Checkpoint tests (matches pytest.mark.checkpoint)
  checkpoint:
    paths:
      - ccbt/checkpoint.py
    carryforward: true
  # CLI tests (matches pytest.mark.cli)
  cli:
    paths:
      - ccbt/cli/
    carryforward: true
  # Unit tests (matches pytest.mark.unit)
  unittests:
    paths:
      - ccbt/
    carryforward: true
  # Integration tests (matches pytest.mark.integration)
  integration:
    paths:
      - tests/integration/
    carryforward: false
  # Security tests
  security:
    paths:
      - ccbt/security/
    carryforward: true
  # ML tests
  ml:
    paths:
      - ccbt/ml/
    carryforward: true
  # Monitoring tests
  monitoring:
    paths:
      - ccbt/monitoring/
    carryforward: true
  # Observability tests
  observability:
    paths:
      - ccbt/observability/
    carryforward: true
  # Protocols tests
  protocols:
    paths:
      - ccbt/protocols/
    carryforward: true
  # Extensions tests
  extensions:
    paths:
      - ccbt/extensions/
    carryforward: true

solves test failures , lint checks , ci docs build , main / dev branch ci separation , adds fixes for bugs identified while testing , refactors tests , and more !
  docs/reports/benchmarks/runs/hash_verify-20260101-212622-a180ff3.json
  docs/reports/benchmarks/runs/loopback_throughput-20260101-212634-a180ff3.json
  docs/reports/benchmarks/runs/piece_assembly-20260101-212636-a180ff3.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
Due: none

solves test failures , lint checks , ci docs build , main / dev branch ci separation , adds fixes for bugs identified while testing , refactors tests , and more !
  docs/reports/benchmarks/runs/hash_verify-20260101-213324-43a2215.json
  docs/reports/benchmarks/runs/loopback_throughput-20260101-213336-43a2215.json
  docs/reports/benchmarks/runs/piece_assembly-20260101-213338-43a2215.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
Due: none

solves test failures , lint checks , ci docs build , main / dev branch ci separation , compatibility tests, adds missing deps
  .github/workflows/README.md
  .github/workflows/benchmark.yml
  .github/workflows/build-documentation.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility.yml
  .github/workflows/deploy.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/version-check.yml
  .gitignore
  dev/ruff.toml
  docs/overrides/README.md
  docs/overrides/README_RTD.md
  docs/overrides/partials/languages/README.md
  docs/overrides/partials/languages/arc.html
  docs/overrides/partials/languages/ha.html
  docs/overrides/partials/languages/sw.html
  docs/overrides/partials/languages/yo.html
  pyproject.toml
  tests/daemon/test_ipc_auth.py
  tests/daemon/test_websocket.py
  tests/integration/test_ipc_server_config.py
  tests/unit/cli/test_advanced_commands_phase2_fixes.py
  tests/unit/cli/test_simplification_regression.py
  tests/unit/discovery/test_tracker_session_statistics.py
  uv.lock
Due: none

improves ci/cd workflows , permissions , and so on
  .github/workflows/README.md
  .github/workflows/compatibility.yml
  .github/workflows/publish-pypi-dev.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/version-check.yml
  tests/scripts/ensure_bandit_dir.py
Due: none

adds docs fixes
  .github/workflows/README.md
  .github/workflows/build-documentation.yml
  dev/build_docs_patched_clean.py
  dev/mkdocs.yml
  docs/en/reports/bandit/index.md
Due: none

adds docs fixes , compatibility fixes , lint , ci , precommit improvements
  .readthedocs.yaml
  ccbt/cli/main.py
  ccbt/consensus/__init__.py
  ccbt/i18n/manager.py
  ccbt/nat/port_mapping.py
  ccbt/session/checkpointing.py
  ccbt/session/download_startup.py
  ccbt/session/manager_startup.py
  ccbt/utils/network_optimizer.py
  dev/build_docs_patched.py
  dev/build_docs_patched_clean.py
  dev/build_docs_with_logs.py
  dev/pytest.ini
  docs/reports/benchmarks/runs/hash_verify-20260102-182325-31092da.json
  docs/reports/benchmarks/runs/loopback_throughput-20260102-182338-31092da.json
  docs/reports/benchmarks/runs/piece_assembly-20260102-182340-31092da.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
  tests/conftest.py
  tests/conftest_timeout.py
  tests/fixtures/__init__.py
  tests/fixtures/network_mocks.py
  tests/integration/test_session_metrics_edge_cases.py
  tests/test_new_fixtures.py
  tests/unit/cli/test_resume_commands.py
  tests/unit/cli/test_torrent_config_commands_phase2_fixes.py
  tests/unit/cli/test_utp_commands.py
  tests/unit/discovery/test_tracker_peer_source_direct.py
  tests/unit/ml/test_piece_predictor.py
  tests/unit/session/test_async_main_metrics_coverage.py
  tests/unit/session/test_session_background_loops.py
  tests/unit/session/test_session_checkpoint_ops.py
  tests/unit/session/test_session_edge_cases.py
  tests/unit/session/test_session_manager_coverage.py
  tests/utils/__init__.py
  tests/utils/port_pool.py
Due: cli, unittests

solves failing tests and timeouts, adds testing fixtures
  .readthedocs.yaml
  ccbt/session/checkpointing.py
  ccbt/session/session.py
  docs/en/contributing.md
  docs/reports/benchmarks/runs/hash_verify-20260102-215701-944ecc5.json
  docs/reports/benchmarks/runs/loopback_throughput-20260102-215714-944ecc5.json
  docs/reports/benchmarks/runs/piece_assembly-20260102-215716-944ecc5.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
  tests/conftest.py
  tests/conftest_timeout.py
  tests/fixtures/__init__.py
  tests/fixtures/network_mocks.py
  tests/integration/test_early_peer_acceptance.py
  tests/integration/test_file_selection_e2e.py
  tests/integration/test_private_torrents.py
  tests/integration/test_queue_management.py
  tests/integration/test_session_metrics_edge_cases.py
  tests/test_new_fixtures.py
  tests/unit/session/test_async_main_metrics.py
  tests/unit/session/test_async_main_metrics_coverage.py
  tests/unit/session/test_checkpoint_persistence.py
  tests/unit/session/test_scrape_features.py
  tests/unit/session/test_session_background_loops.py
  tests/unit/session/test_session_checkpoint_ops.py
  tests/unit/session/test_session_edge_cases.py
  tests/unit/session/test_session_error_paths_coverage.py
  tests/unit/session/test_session_manager_coverage.py
  tests/utils/port_pool.py
Due: unittests

solves failing tests and timeouts, adds testing fixtures
  .readthedocs.yaml
  ccbt/session/checkpointing.py
  ccbt/session/session.py
  dev/pre-commit-config.yaml
  docs/en/contributing.md
  docs/reports/benchmarks/runs/hash_verify-20260102-215701-944ecc5.json
  docs/reports/benchmarks/runs/loopback_throughput-20260102-215714-944ecc5.json
  docs/reports/benchmarks/runs/piece_assembly-20260102-215716-944ecc5.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
  tests/conftest.py
  tests/conftest_timeout.py
  tests/fixtures/__init__.py
  tests/fixtures/network_mocks.py
  tests/integration/test_early_peer_acceptance.py
  tests/integration/test_file_selection_e2e.py
  tests/integration/test_private_torrents.py
  tests/integration/test_queue_management.py
  tests/integration/test_session_metrics_edge_cases.py
  tests/test_new_fixtures.py
  tests/unit/session/test_async_main_metrics.py
  tests/unit/session/test_async_main_metrics_coverage.py
  tests/unit/session/test_checkpoint_persistence.py
  tests/unit/session/test_scrape_features.py
  tests/unit/session/test_session_background_loops.py
  tests/unit/session/test_session_checkpoint_ops.py
  tests/unit/session/test_session_edge_cases.py
  tests/unit/session/test_session_error_paths_coverage.py
  tests/unit/session/test_session_manager_coverage.py
  tests/utils/port_pool.py
Due: unittests

adds rebase
  docs/reports/benchmarks/runs/hash_verify-20260103-095324-06457a5.json
  docs/reports/benchmarks/runs/loopback_throughput-20260103-095337-06457a5.json
  docs/reports/benchmarks/runs/piece_assembly-20260103-095339-06457a5.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
Due: none

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
Due: none

docs: add peer-connection issue draft pack
  docs/reports/issues/01_announce_loop_exits_when_peer_manager_not_ready.md
  docs/reports/issues/02_dht_blocked_until_50_peers.md
  docs/reports/issues/03_peer_count_low_handler_blocks_nonzero_low_peers.md
  docs/reports/issues/04_dht_opt_in_for_non_magnet_torrents.md
  docs/reports/issues/05_dht_queued_pending_peers_not_drained.md
  docs/reports/issues/06_async_peer_connection_result_variable_bug.md
  docs/reports/issues/07_dht_dedup_no_ttl.md
  docs/reports/issues/PUBLISH_INSTRUCTIONS.md
  docs/reports/issues/README.md
Due: none

Update .gitignore
  .gitignore
Due: none
