Repository ccBitTorrent/ccbt: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

ruff:
  name: ruff
  entry: uv run ruff check ccbt/ --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false
  timeout: 120

ruff-format:
  name: ruff-format
  entry: uv run ruff format ccbt/
  language: system
  pass_filenames: false
  timeout: 60

pytest:
  name: pytest
  entry: uv run python tests/scripts/run_pytest_selective.py
  language: system
  pass_filenames: true
  timeout: 600

pytest-coverage:
  name: pytest-coverage
  entry: uv run python tests/scripts/run_pytest_selective.py --coverage
  language: system
  pass_filenames: true
  stages:
  - pre-push
  timeout: 900

mkdocs-build:
  name: mkdocs-build
  entry: uv run mkdocs build --strict
  language: system
  pass_filenames: false
  timeout: 300

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

solves review comments
  .github/workflows/build-documentation.yml
  .github/workflows/compatibility.yml
  .github/workflows/publish-pypi-dev.yml
  .github/workflows/release.yml
  .gitignore
  ccbt/session/checkpointing.py
  ccbt/session/session.py
  ccbt/session/torrent_addition.py
  ci_precommit_logs/pytest_batch_020.txt
  ci_precommit_logs/pytest_batch_021.txt
  ci_precommit_logs/pytest_batch_022.txt
  ci_precommit_logs/pytest_batch_023.txt
  ci_precommit_logs/pytest_batch_024.txt
  ci_precommit_logs/pytest_batch_025.txt
  ci_precommit_logs/pytest_batched_summary.txt
Due: ruff, ruff-format, pytest, pytest-coverage

adds BEP 44 server , client , bugfix , swarm
  ccbt/daemon/ipc_server.py
  ccbt/discovery/dht.py
  ccbt/discovery/dht_indexing.py
  ccbt/discovery/dht_storage.py
  ccbt/security/xet_allowlist.py
  ccbt/session/media_stream_runtime.py
  docs/implementation-plans/bep44-put-get-implementation-plan.md
  docs/implementation-plans/bep44-server-implementation-plan.md
  tests/unit/discovery/test_dht_bep44.py
  tests/unit/discovery/test_dht_bep44_server.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

adds code quality
  ccbt/daemon/ipc_server.py
  ccbt/discovery/dht.py
  ccbt/security/xet_allowlist.py
  tests/unit/discovery/test_dht_bep44_server.py
Due: ruff, ruff-format, pytest, pytest-coverage

adds dht guards
  ccbt/session/media_stream_manager.py
  ccbt/session/media_stream_runtime.py
  ccbt/session/session.py
  ccbt/storage/xet_folder_manager.py
  ccbt/utils/media_launcher.py
Due: ruff, ruff-format, pytest, pytest-coverage

solves review comments
  .github/workflows/README.md
  .github/workflows/build-documentation.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility.yml
  .github/workflows/deploy.yml
  .github/workflows/generate-reports.yml
  .github/workflows/publish-pypi-dev.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/version-check.yml
  .gitignore
  ccbt/discovery/dht.py
  ccbt/session/media_stream_runtime.py
  ci_precommit_logs/pytest_batch_019.txt
  ci_precommit_logs/pytest_batch_020.txt
  ci_precommit_logs/pytest_batch_021.txt
  ci_precommit_logs/pytest_batch_022.txt
  ci_precommit_logs/pytest_batch_023.txt
  ci_precommit_logs/pytest_batch_024.txt
  ci_precommit_logs/pytest_batch_025.txt
  ci_precommit_logs/pytest_batched_summary.txt
  dev/pre-commit-config.yaml
  docs/fixes/dht-download-start-loop-fix.md
  docs/fixes/empty-bitfield-peer-disconnect-fix.md
  docs/fixes/peer-discovery-piece-selection-fix.md
  docs/fixes/peer-timeout-no-pieces-fix.md
  docs/implementation-plans/bep44-put-get-implementation-plan.md
  docs/implementation-plans/bep44-server-implementation-plan.md
  docs/reports/benchmarks/runs/hash_verify-20260102-182325-31092da.json
  docs/reports/benchmarks/runs/hash_verify-20260102-215701-944ecc5.json
  docs/reports/benchmarks/runs/hash_verify-20260103-095324-06457a5.json
  docs/reports/benchmarks/runs/loopback_throughput-20260102-182338-31092da.json
  docs/reports/benchmarks/runs/loopback_throughput-20260102-215714-944ecc5.json
  docs/reports/benchmarks/runs/loopback_throughput-20260103-095337-06457a5.json
  docs/reports/benchmarks/runs/piece_assembly-20260102-182340-31092da.json
  docs/reports/benchmarks/runs/piece_assembly-20260102-215716-944ecc5.json
  docs/reports/benchmarks/runs/piece_assembly-20260103-095339-06457a5.json
  tests/unit/discovery/test_dht_bep44.py
  tests/unit/session/test_media_stream_runtime.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

solves review comments
  ccbt/executor/xet_executor.py
  ccbt/session/media_stream_runtime.py
  ccbt/session/session.py
  ccbt/session/xet_metadata_resolver.py
  ccbt/storage/xet_deduplication.py
  ccbt/storage/xet_folder_manager.py
Due: ruff, ruff-format, pytest, pytest-coverage

solves review comments
  ccbt/storage/xet_folder_manager.py
  docs/implementation-plans/xet-review-fixes-implementation-plan.md
  test_xet_output.txt
  tests/unit/session/test_session_status_and_utils.py
  tests/unit/session/test_xet_folder_sessions.py
  tests/unit/storage/test_xet_deduplication.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

adds bugfixes , xet, tests , lints
  ccbt/cli/tonic_commands.py
  ccbt/daemon/ipc_server.py
  ccbt/discovery/dht.py
  ccbt/interface/widgets/media_playback_widget.py
  ccbt/security/xet_allowlist.py
  ccbt/session/media_stream_manager.py
  ccbt/session/media_stream_runtime.py
  ccbt/session/xet_metadata_resolver.py
  ccbt/session/xet_sync_manager.py
  ccbt/storage/xet_folder_manager.py
  docs/en/configuration.md
  docs/en/unimplemented-methods.md
  docs/implementation-plans/xet-review-fixes-implementation-plan.md
  test_xet_output.txt
  tests/unit/session/test_xet_folder_sessions.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

solves failing tests and some warnings
  AzuriteConfig
  __azurite_db_table__.json
  ccbt/discovery/xet_cas.py
  ccbt/i18n/__init__.py
  ccbt/session/session.py
  ccbt/storage/folder_watcher.py
  ccbt/utils/events.py
  tests/conftest.py
  tests/integration/test_xet_integration.py
  tests/integration/test_xet_sync_workflow.py
Due: ruff, ruff-format, pytest, pytest-coverage

Solves Tests Timeouts and Fails (#22)
  AzuriteConfig
  __azurite_db_table__.json
  ccbt/discovery/xet_cas.py
  ccbt/i18n/__init__.py
  ccbt/session/session.py
  ccbt/storage/folder_watcher.py
  ccbt/utils/events.py
  tests/conftest.py
  tests/integration/test_xet_integration.py
  tests/integration/test_xet_sync_workflow.py
Due: ruff, ruff-format, pytest, pytest-coverage

adds solutions
  ccbt/discovery/tracker.py
  ccbt/nat/manager.py
  ccbt/nat/upnp.py
  ccbt/peer/async_peer_connection.py
  ccbt/piece/async_metadata_exchange.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/announce.py
  ccbt/session/dht_setup.py
  ccbt/session/metrics_status.py
  ccbt/session/peers.py
  ccbt/session/session.py
  ccbt/utils/events.py
  dev/test_rtd_config.py
  tests/unit/discovery/test_tracker_expanded.py
  tests/unit/nat/test_upnp.py
  tests/unit/peer/test_async_peer_connection_expanded.py
  tests/unit/piece/test_async_metadata_expanded.py
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_dht_recovery_deadlock.py
  tests/unit/session/test_magnet_startup_regressions.py
  tests/unit/session/test_session_background_loops.py
Due: ruff, ruff-format, pytest, pytest-coverage

adds changes
  ccbt.toml
  ccbt/discovery/dht.py
  ccbt/discovery/tracker.py
  ccbt/peer/async_peer_connection.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/announce.py
  ccbt/session/dht_setup.py
  ccbt/session/metrics_status.py
  ccbt/session/session.py
  tests/unit/discovery/test_tracker_ssl.py
  tests/unit/peer/test_async_peer_connection_expanded.py
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_session_background_loops.py
Due: ruff, ruff-format, pytest, pytest-coverage

adds resilience , swarm health , monitoring
  ccbt/discovery/dht.py
  ccbt/discovery/tracker.py
  ccbt/discovery/tracker_udp_client.py
  ccbt/interface/data_provider.py
  ccbt/interface/screens/per_torrent_files.py
  ccbt/interface/screens/per_torrent_peers.py
  ccbt/interface/screens/per_torrent_trackers.py
  ccbt/interface/terminal_dashboard.py
  ccbt/peer/async_peer_connection.py
  ccbt/peer/connection_pool.py
  ccbt/peer/tcp_server.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/announce.py
  ccbt/session/dht_setup.py
  ccbt/session/peers.py
  ccbt/session/session.py
  ccbt/session/swarm_stability_defaults.py
  docs/en/reports/swarm-stability-defaults.md
  docs/en/reports/swarm-stability-evidence-bundle-2026-03-19.md
  docs/en/reports/swarm-stability-milestone-gates.md
  docs/en/reports/swarm-stability-signoff-checklist.md
  tests/unit/interface/test_data_provider.py
  tests/unit/network/test_connection_pool.py
  tests/unit/peer/test_async_peer_connection.py
  tests/unit/peer/test_async_peer_connection_expanded.py
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_session_background_loops.py
  tests/unit/tracker/test_tracker.py
  tests/unit/tracker/test_tracker_udp_client.py
  tmp_debug_announce.py
  tmp_investigate2.py
  tmp_trace2.py
  tmp_trace_exc.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

adds swarm health, metrics , resilience logic
  ccbt/discovery/dht.py
  ccbt/discovery/tracker.py
  ccbt/discovery/tracker_udp_client.py
  ccbt/interface/data_provider.py
  ccbt/peer/async_peer_connection.py
  ccbt/peer/connection_pool.py
  ccbt/peer/tcp_server.py
  ccbt/piece/async_piece_manager.py
  ccbt/session/announce.py
  ccbt/session/dht_setup.py
  ccbt/session/peers.py
  ccbt/session/session.py
  dev/CHANGELOG.md
  docs/en/reports/swarm-stability-evidence-bundle-2026-03-19.md
  test.magnet.md
  tests/unit/piece/test_async_piece_manager.py
  tests/unit/session/test_dht_recovery_deadlock.py
  tests/unit/tracker/test_tracker.py
  tmp_debug_announce.py
  tmp_investigate2.py
  tmp_trace2.py
  tmp_trace_exc.py
Due: ruff, ruff-format, pytest, pytest-coverage, mkdocs-build

adds benchs
  ccbt.toml
  tests/performance/bench_encryption.py
  tests/performance/bench_utils.py
  tests/unit/performance/__init__.py
  tests/unit/performance/test_benchmark_ci_tools.py
Due: none

fixes bench
  .ci/benchmark_compare_test.json
  .ci/benchmark_head_test/bench_disk_io.json
  .ci/benchmark_head_test/bench_encryption.json
  .ci/benchmark_head_test/bench_hash_verify.json
  .ci/benchmark_head_test/bench_loopback_throughput.json
  .ci/benchmark_head_test/bench_piece_assembly.json
  dev/pre-commit-config.yaml
  docs/en/contributing.md
  tests/performance/bench_piece_assembly.py
  tests/unit/performance/test_benchmark_ci_tools.py
Due: mkdocs-build

adds bench to outside commits
  .ci/benchmark_head_test2/bench_disk_io.json
  .ci/benchmark_head_test2/bench_encryption.json
  .ci/benchmark_head_test2/bench_hash_verify.json
  .ci/benchmark_head_test2/bench_loopback_throughput.json
  .ci/benchmark_head_test2/bench_piece_assembly.json
  .github/workflows/benchmark.yml
  tests/unit/performance/test_benchmark_ci_tools.py
Due: none

Path conditions:
  ruff: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  ruff-format: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  pytest: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  pytest-coverage: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  mkdocs-build: any of: ^(docs/.*\.md|README\.md|mkdocs\.yml)$ and \.(md|markdown|mdown)$
