Repository ccBitTorrent/ccbt: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pytest, mkdocs-build

ruff:
  name: ruff
  entry: uv run ruff check ccbt/ --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format ccbt/
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest tests/ -v --tb=short --maxfail=5 --timeout=60
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs-build
  entry: uv run mkdocs build --strict
  language: system
  pass_filenames: false

add coverage report
  pyproject.toml
  uv.lock
Due: none

add interface , cli , library , tests , benchmarks , pre commit checks , documentation , configurations , env , readme
  pyproject.toml
  uv.lock
Due: none

initial release
  .env.example
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .readthedocs.yaml
  CI_CD_IMPLEMENTATION_PLAN.md
  CI_CD_SETUP_STATUS.md
  DAEMON_IMPLEMENTATION_ASSESSMENT.md
  ccbt.toml
  ccbt.toml copy.example
  ccbt/executor/manager.py
  dev/requirements-rtd.txt
  docs/pypi-setup.md
  docs/readthedocs-setup.md
  docs/reports/benchmarks/runs/loopback_throughput-20251113-165017-7cbe3b2.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  env.example
Due: ruff, ruff-format, pytest, mkdocs-build

adds ci docs fix
  .github/workflows/ci.yml
  docs/reports/benchmarks/runs/encryption-20251209-135213-862dc93.json
  docs/reports/benchmarks/runs/hash_verify-20251209-135218-862dc93.json
  docs/reports/benchmarks/runs/loopback_throughput-20251209-135230-862dc93.json
  docs/reports/benchmarks/timeseries/encryption_timeseries.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
Due: none

adds ci docs fix 2
  dev/mkdocs.yml
  dev/requirements-rtd.txt
  pyproject.toml
  uv.lock
Due: none

fix documentation blog error / bug
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  dev/mkdocs.yml
  docs/en/blog/.gitkeep
  docs/en/blog/2024-01-01-welcome.md
  docs/en/blog/2024-01-15-release-notes.md
  docs/en/blog/2024-02-01-feature-highlight.md
  docs/en/blog/index.md
Due: mkdocs-build

fix documentation blog error / bugs
  .github/workflows/docs.yml
  dev/mkdocs.yml
Due: none

fix docs monkey patch
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  dev/mkdocs.yml
Due: none

fix docs import path
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

fix import path with import lib
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

attempts Inline patch script for GitHub CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

attempts docs fix
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

use extend for i18nfiles
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

use extend for i18nfiles
  ccbt/cli/checkpoints.py
Due: ruff, ruff-format, pytest

adds uv docs fix
  .github/workflows/ci.yml
  ccbt/consensus/__init__.py
  ccbt/session/download_startup.py
  ccbt/session/manager_startup.py
  docs/overrides/README.md
  docs/overrides/README_RTD.md
  docs/overrides/partials/languages/README.md
  docs/overrides/partials/languages/arc.html
  docs/overrides/partials/languages/ha.html
  docs/overrides/partials/languages/sw.html
  docs/overrides/partials/languages/yo.html
  docs/reports/benchmarks/runs/hash_verify-20251231-155619-32b1ca9.json
  docs/reports/benchmarks/runs/loopback_throughput-20251231-155632-32b1ca9.json
  docs/reports/benchmarks/runs/piece_assembly-20251231-155634-32b1ca9.json
  docs/reports/benchmarks/timeseries/hash_verify_timeseries.json
  docs/reports/benchmarks/timeseries/loopback_throughput_timeseries.json
  docs/reports/benchmarks/timeseries/piece_assembly_timeseries.json
  tests/unit/cli/test_advanced_commands_phase2_fixes.py
  tests/unit/cli/test_simplification_regression.py
  tests/unit/discovery/test_tracker_session_statistics.py
Due: ruff, ruff-format, pytest, mkdocs-build

Path conditions:
  ruff: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  ruff-format: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  pytest: any of: ^ccbt/.*\.py$ and \.py$ and not (^(tests/|benchmarks/|.*/__pycache__/))
  mkdocs-build: any of: ^(docs/.*\.md|README\.md|mkdocs\.yml)$ and \.(md|markdown|mdown)$
